:host,
mat-card,
mat-card-content {
  height: 100%;
}

mat-card-content {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.experienceContainer {
  height: 100%;

  mat-form-field {
    width: 100%;
  }
}
