mat-card-title {
  width: 21vw;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

table {
  * {
    padding-top: 0.5vw;
  }
  width: 100%;
  border-collapse: collapse;

  td {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  tr:first-child {
    border-top: 0.2vh solid #4db6ac;
  }
  td:first-child,
  td:nth-child(3) {
    text-align: left;
  }
  td:nth-child(2) {
    border-right: 0.1vw solid #4db6ac;
  }
  td:last-child,
  td:nth-child(2) {
    text-align: right;
  }
}
