<mat-card>
  <mat-card-header>
    <mat-card-title>
      Character-Templates
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" *ngIf="charTemplates">
      <mat-grid-tile *ngFor="let ct of charTemplates; index as i">
        <button mat-raised-button color="primary" (click)="select(ct.id)">
          <img *ngIf="ct.image.length != 0" src="data:image/png;base64,{{this.charTemplateImages[i]}}">
          <mat-icon class="imgIcon" *ngIf="ct.image.length == 0">aspect_ratio</mat-icon>

          <div class="text"><div class="name">{{ct.name}}</div></div>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>