<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Abilities">
        <app-templates-view-tab [elementRoute]="this.requestService.routes.abilityTemplate"></app-templates-view-tab>
      </mat-tab>
      <mat-tab label="Traits">
        <app-templates-view-tab [elementRoute]="this.requestService.routes.traitTemplate"></app-templates-view-tab>
      </mat-tab>
      <mat-tab label="Items">
        <app-templates-view-tab [elementRoute]="this.requestService.routes.itemTemplate"></app-templates-view-tab>
      </mat-tab>
      <mat-tab label="Effects">
        <app-templates-view-tab [elementRoute]="this.requestService.routes.effectTemplate"></app-templates-view-tab>
      </mat-tab>
      <mat-tab label="Counters">
        <mat-tab-group>
          <mat-tab label="Counters">
            <app-templates-view-tab [elementRoute]="this.requestService.routes.counterTemplate"></app-templates-view-tab>
          </mat-tab>
          <mat-tab label="Effect-Counters">
            <app-templates-view-tab [elementRoute]="this.requestService.routes.effectCounterTemplate"></app-templates-view-tab>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Reminders">
        <app-templates-view-tab [elementRoute]="this.requestService.routes.roundReminderTemplate"></app-templates-view-tab>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
