<div class="error" *ngIf="!this.charTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Character View
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="this.charTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Character Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div class="top">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="this.name">
            <mat-error *ngIf="name.invalid">{{getNameError()}}</mat-error>
          </mat-form-field>
          <mat-checkbox labelPosition="before" [(ngModel)]="isNPC">Is NPC</mat-checkbox>
        </div>
      
        <table>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput [formControl]="this.height" type="number">
                <span matTextSuffix>m</span>
                <mat-error *ngIf="height.invalid">{{getHeightError()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput [formControl]="this.age" type="number">
                <mat-error *ngIf="age.invalid">{{getAgeError()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
      
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input matInput [formControl]="this.weight" type="number">
                <span matTextSuffix>kg</span>
                <mat-error *ngIf="weight.invalid">{{getWeightError()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Money</mat-label>
                <input matInput [formControl]="this.money">
                <span matTextSuffix>€</span>
                <mat-error *ngIf="money.invalid">{{getMoneyError()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        
        <button mat-button (click)="save()">
          Save
        </button>
  
        <div class="image">
          <img src="data:image/png;base64,{{this.image}}">
          <button mat-button (click)="imageInput.click()">Choose new Image</button>
        </div>
        <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="updateImage($event)" accept="image/*"/>
      </div>
  
      <div>
        <mat-tab-group class="listTabs">
  
          <mat-tab label="Abilities">
    
          </mat-tab>
    
          <mat-tab label="Traits">
            <app-template-tab [charTemplate]="this.charTemplate" [propertyName]="'traitTemplates'" [elementRoute]="this.requestService.routes.traitTemplate"></app-template-tab>
          </mat-tab>
    
          <mat-tab label="Inventory"> 
            <app-template-tab [charTemplate]="this.charTemplate" [propertyName]="'itemTemplates'" [elementRoute]="this.requestService.routes.itemTemplate"></app-template-tab>
          </mat-tab>
    
          <mat-tab label="Effects">
            <app-template-tab [charTemplate]="this.charTemplate" [propertyName]="'effectTemplates'" [elementRoute]="this.requestService.routes.effectTemplate"></app-template-tab>
          </mat-tab>
    
          <mat-tab label="Counters"> 
            <mat-tab-group>
              <mat-tab label="Character-Counters">
                <app-template-tab [charTemplate]="this.charTemplate" [propertyName]="'counterTemplates'" [elementRoute]="this.requestService.routes.counterTemplate"></app-template-tab>
              </mat-tab>
              <mat-tab label="Nested Counters">
                <app-template-nested-tab [charTemplate]="this.charTemplate" [elementRoute]="this.requestService.routes.counterTemplate"></app-template-nested-tab>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
    
          <mat-tab label="Reminders"> 
            <mat-tab-group>
              <mat-tab label="Character-Reminders">
                <app-template-tab [charTemplate]="this.charTemplate" [propertyName]="'roundReminderTemplates'" [elementRoute]="this.requestService.routes.roundReminderTemplate"></app-template-tab>
              </mat-tab>
              <mat-tab label="Nested Reminders">
                <app-template-nested-tab [charTemplate]="this.charTemplate" [elementRoute]="this.requestService.routes.roundReminderTemplate"></app-template-nested-tab>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
        </mat-tab-group>  
      </div>
  
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="create()">
        Create
      </button>
      <button mat-button color="warn" (click)="delete()">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>