<div class="error" *ngIf="!this.charTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Character View </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="this.charTemplate">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Character Details </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div class="top">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              [formControl]="this.name"
              (ngModelChange)="this.nameDebouncer.InputSubject.next($event)"
            />
            <mat-error *ngIf="name.invalid">{{ getNameError() }}</mat-error>
          </mat-form-field>
          <mat-checkbox
            labelPosition="before"
            [(ngModel)]="isNPC"
            (ngModelChange)="saveIsNpc()"
            >Is NPC</mat-checkbox
          >
        </div>

        <table class="topTable">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input
                  matInput
                  [formControl]="this.height"
                  type="number"
                  (ngModelChange)="
                    this.heightDebouncer.InputSubject.next($event)
                  "
                />
                <span matTextSuffix>m</span>
                <mat-error *ngIf="height.invalid">{{
                  getHeightError()
                }}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input
                  matInput
                  [formControl]="this.age"
                  type="number"
                  (ngModelChange)="this.ageDebouncer.InputSubject.next($event)"
                />
                <mat-error *ngIf="age.invalid">{{ getAgeError() }}</mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input
                  matInput
                  [formControl]="this.weight"
                  type="number"
                  (ngModelChange)="
                    this.weightDebouncer.InputSubject.next($event)
                  "
                />
                <span matTextSuffix>kg</span>
                <mat-error *ngIf="weight.invalid">{{
                  getWeightError()
                }}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Money</mat-label>
                <input
                  matInput
                  [formControl]="this.money"
                  (ngModelChange)="
                    this.moneyDebouncer.InputSubject.next($event)
                  "
                />
                <span matTextSuffix>€</span>
                <mat-error *ngIf="money.invalid">{{
                  getMoneyError()
                }}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div class="textAreas">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              [(ngModel)]="this.description"
              (ngModelChange)="
                this.descriptionDebouncer.InputSubject.next($event)
              "
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
            ></textarea></mat-form-field
          ><br />

          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea
              matInput
              [(ngModel)]="this.notes"
              (ngModelChange)="this.notesDebouncer.InputSubject.next($event)"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
            ></textarea></mat-form-field
          ><br />

          <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <textarea
              matInput
              [(ngModel)]="this.experience"
              (ngModelChange)="
                this.experienceDebouncer.InputSubject.next($event)
              "
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
            ></textarea></mat-form-field
          ><br />
        </div>

        <div class="bottomRow">
          <table mat-table [dataSource]="statTable">
            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element">
                <b>{{ element.stat.name }}</b>
              </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <td mat-cell *matCellDef="let element">
                {{ element.value }}
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: statTableCols"></tr>
          </table>

          <div class="image">
            <img src="data:image/png;base64,{{ this.image }}" />
            <button mat-button (click)="imageInput.click()">
              Choose new Image
            </button>
            <input
              #imageInput
              hidden="true"
              type="file"
              onclick="this.value=null"
              (change)="updateImage($event)"
              accept="image/*"
            />
          </div>
        </div>
      </div>

      <div>
        <mat-tab-group class="listTabs">
          <mat-tab label="Abilities">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'abilityTemplates'"
              [elementRoute]="this.requestService.routes.abilityTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Traits">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'traitTemplates'"
              [elementRoute]="this.requestService.routes.traitTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Inventory">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'itemTemplates'"
              [elementRoute]="this.requestService.routes.itemTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Effects">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'effectTemplates'"
              [elementRoute]="this.requestService.routes.effectTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Character-Counters">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'counterTemplates'"
              [elementRoute]="this.requestService.routes.counterTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Character-Reminders">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'roundReminderTemplates'"
              [elementRoute]="this.requestService.routes.roundReminderTemplate"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>

          <mat-tab label="Variables">
            <app-template-tab
              [charTemplate]="this.charTemplate"
              [propertyName]="'variables'"
              [elementRoute]="this.requestService.routes.variable"
              [changeSubject]="changeSubject"
            ></app-template-tab>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="create()">Create</button>
      <button mat-button color="warn" (click)="delete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
