mat-card {
  margin: 1vw;
}

mat-card-title {
  margin-bottom: 2vh;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textAreas {
  margin-top: 1vh;
  mat-form-field {
    margin-bottom: -1vh;
    width: 100%;
  }
}

mat-form-field * {
  height: 1vw;
}

img {
  height: 20vh;
  width: 20vh;
  margin-bottom: 1vh;
}

.image {
  margin-top: 1vh;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

.bottomRow {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.listTabs {
  width: 66vw;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}

mat-error {
  margin-top: -0.5vh;
}

.topTable {
  width: 100%;
  border-collapse: collapse;

  mat-form-field {
    margin-bottom: -1vh;
    mat-error {
      margin-top: -0.5vh;
    }
  }

  td {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  tr:first-child {
    border-top: 0.2vh solid #4db6ac;
  }
  td:first-child,
  td:nth-child(2) {
    text-align: left;
  }
  td:nth-child(1) {
    border-right: 0.1vw solid #4db6ac;
  }
  td:last-child,
  td:nth-child(1) {
    text-align: right;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}
