<table mat-table [dataSource]="elements()">
  @for (column of columns(); track $index) {
    <ng-container [matColumnDef]="column.property">
      <th mat-header-cell *matHeaderCellDef>
        {{ column.title }}
      </th>
      <td mat-cell *matCellDef="let element">
        @switch (column.columnType) {
          @case (ColumnTypes.Text) {
            {{ element[column.property] }}
          }
          @case (ColumnTypes.Checkbox) {
            <mat-checkbox
              (click)="$event.stopPropagation()"
              [ngModel]="getDebouncer(element.id, column.fieldId)"
              (ngModelChange)="setDebouncer(element.id, column.fieldId, $event)"
            ></mat-checkbox>
          }
          @case (ColumnTypes.Input) {
            <mat-form-field (click)="$event.stopPropagation()">
              <input
                matInput
                [ngModel]="getDebouncer(element.id, column.fieldId)"
                (ngModelChange)="
                  setDebouncer(element.id, column.fieldId, $event)
                "
              />
            </mat-form-field>
          }
          @case (ColumnTypes.InputOf) {
            <mat-form-field (click)="$event.stopPropagation()">
              <input
                matInput
                [ngModel]="getDebouncer(element.id, column.fieldId)"
                (ngModelChange)="
                  setDebouncer(element.id, column.fieldId, $event)
                "
              />
              <span matSuffix> /{{ element[column.propertyOf!] }} </span>
            </mat-form-field>
          }
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columnNames()"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columnNames()"
    class="clickable-table-row"
    (click)="openElementDialog(row.id)"
  ></tr>
</table>
