<mat-card>
  <mat-card-header>
    <mat-card-title> Account </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Log in">
        <div class="tab-content">
          <form (submit)="login()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input
                matInput
                [(ngModel)]="this.username"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                [(ngModel)]="this.password"
                [ngModelOptions]="{ standalone: true }"
                [type]="this.hidePassword ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                type="button"
                matSuffix
                (click)="this.hidePassword = !this.hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="this.hidePassword"
              >
                <mat-icon>{{
                  this.hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <br />
            <div class="error">{{ loginErrorMsg }}</div>
            <button mat-button type="submit">Log in</button>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Register">
        <div class="tab-content">
          <form (submit)="register()">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input
                matInput
                [(ngModel)]="this.username"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                [(ngModel)]="this.password"
                [ngModelOptions]="{ standalone: true }"
                [type]="this.hidePassword ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                type="button"
                matSuffix
                (click)="this.hidePassword = !this.hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="this.hidePassword"
              >
                <mat-icon>{{
                  this.hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Discord-ID</mat-label>
              <input
                matInput
                [(ngModel)]="this.discordId"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Registration Token</mat-label>
              <input
                matInput
                [(ngModel)]="this.registrationToken"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <br />
            <div class="error">{{ registerErrorMsg }}</div>
            <button mat-button type="submit">Register</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
