<mat-dialog-content>
  <div class="submit">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput type="number" [(ngModel)]="selectedId" />
    </mat-form-field>
    <button mat-button (click)="submitId()"><mat-icon>add</mat-icon>Add</button>
  </div>

  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="tableContainer">
    <table mat-table [dataSource]="elementTable">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reminder">
        <th mat-header-cell *matHeaderCellDef>Reminder</th>
        <td mat-cell *matCellDef="let element">
          {{ element.reminder }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reminding">
        <th mat-header-cell *matHeaderCellDef>Reminding</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            disabled="true"
            [checked]="element.reminding"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button><mat-icon>info</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="elementTableCols; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: elementTableCols"
        class="clickable-table-row"
        (click)="viewTemplate(element.id)"
      ></tr>
    </table>
  </div>
</mat-dialog-content>
