.submit {
  padding-bottom: 0.9vh;
  margin-bottom: 1vh;
  border-bottom: 0.2vh solid #4db6ac;
}

mat-form-field {
  width: 80%;
  margin-right: 1vw;
  margin-bottom: -3vh;
}

.tableContainer {
  width: 70vw;
  height: 60vh;
  overflow-y: scroll;
}
