<mat-card>
  <mat-card-header>
    <mat-card-title> All NPCs </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" *ngIf="npcs">
      <mat-grid-tile *ngFor="let npc of npcs; index as i">
        <button mat-raised-button color="primary" (click)="select(npc.id)">
          <img
            *ngIf="npc.image.bytes.length != 0"
            src="data:image/png;base64,{{ this.npcImages[i] }}"
          />
          <mat-icon class="imgIcon" *ngIf="npc.image.bytes.length == 0"
            >aspect_ratio</mat-icon
          >

          <div class="text">
            <div class="name">{{ npc.name }}</div>
          </div>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
