<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
  <mat-grid-list class="gridlist" cols="5" rowHeight="10em">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dark Mode</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>brightness_5</mat-icon>
          &nbsp;
          <mat-slide-toggle [(ngModel)]="toggleControl" (change)="onChange()"></mat-slide-toggle>
          &nbsp;
          <mat-icon>bedtime</mat-icon>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
