@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$brokenEye-primary: mat.define-palette(mat.$teal-palette);
$brokenEye-accent: mat.define-palette(
  mat.$deep-purple-palette,
  A200,
  A100,
  A400
);
$brokenEye-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $brokenEye-primary,
      accent: $brokenEye-accent,
      warn: $brokenEye-warn,
    ),
  )
);

@include mat.all-component-typographies();
@include mat.all-component-themes($theme);

@include mat.checkbox-density(-3);
@include mat.form-field-density(-5);
@include mat.icon-button-density(-5);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}

.cdk-overlay-pane {
  max-height: 100vh;
}
mat-dialog-content {
  max-height: 100% !important;
}

.mat-mdc-dialog-surface {
  overflow-x: hidden;
}

//Remove number input up/down arrows
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}
