
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brokenEye-primary: mat.define-palette(mat.$teal-palette);
$brokenEye-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brokenEye-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lighttheme: mat.define-light-theme((
  color: (
    primary: $brokenEye-primary,
    accent: $brokenEye-accent,
    warn: $brokenEye-warn,
  )
));

$darktheme: mat.define-dark-theme(
  (
    color: (
      primary: $brokenEye-primary,
      accent: $brokenEye-accent,
      warn: $brokenEye-warn,
    ),
  )
);

@mixin body-theme($theme) {
  $_background: map-get($theme, background);
  $app-background-color: mat-color($_background, background);

  body {
    background-color: $app-background-color;
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-typographies();

@include mat.all-component-themes($lighttheme);
@include body-theme($lighttheme);

.dark-theme {
  @include mat.all-component-colors($darktheme);
  @include body-theme($darktheme)
}

@include mat.checkbox-density(-3);
@include mat.form-field-density(-5);
@include mat.icon-button-density(-5);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: small;}

.cdk-overlay-pane {
  max-height: 100vh;
}
mat-dialog-content {
  max-height: 100% !important;
}

.mat-mdc-dialog-surface {
  overflow-x: hidden;
}

//Remove number input up/down arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}