mat-card {
  height: 100%;
}

table {
  tr:last-child td {
    border-bottom: 0;
  }
  tr {
    height: max-content;
    td:last-child {
      border-right: 0;
    }
    td {
      text-align: center;
      padding: 0.2vw;
      border-right: #4DB6AC 0.1vw solid;
      border-bottom: #4DB6AC 0.2vh solid;

      table {
        tr:last-child td {
          border-bottom: 0;
        }
        tr {
          td {
            text-align: left;
            width: min-content;
            border-right: 0;
            border-bottom: #4DB6AC 0.2vh solid;
          }
          td:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

mat-form-field {
  margin-top: 1vh;
  margin-bottom: -5vh;
  width: 100%;
}