<mat-card>
  <mat-card-header>
    <mat-card-title> Stats </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="statTable">
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">
          <b>{{ element.stat.name }}</b>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element">
          {{ element.value }}
        </td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let row; columns: mainTableCols"
        class="clickableTableRow"
        (click)="rollStat(row.stat.id)"
      ></tr>
    </table>

    <mat-form-field appearance="outline">
      <mat-label>Experience</mat-label>
      <textarea
        matInput
        [(ngModel)]="this.experience"
        (ngModelChange)="this.experienceDebouncer.InputSubject.next($event)"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="22"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
