<mat-toolbar color="primary" class="toolbar">
  <div>
    <button mat-button routerLink=""><h1>BrokenEye</h1></button>

    <button mat-button [matMenuTriggerFor]="charMenu">Characters</button>
    <mat-menu #charMenu="matMenu">
      <button mat-menu-item routerLink="/player/list">
        <mat-icon>search</mat-icon>Players
      </button>
      <button mat-menu-item routerLink="/npc/list">
        <mat-icon>search</mat-icon>NPCs
      </button>
    </mat-menu>

    <button mat-button routerLink="legacy/templates">Element-Templates</button>

    <button mat-button routerLink="legacy/char/npc/view">NPCs</button>

    <button mat-button [matMenuTriggerFor]="charTemplateMenu">
      Character-Templates
    </button>
    <mat-menu #charTemplateMenu="matMenu">
      <button mat-menu-item routerLink="legacy/charTemplate/view">
        <mat-icon>search</mat-icon>View
      </button>
      <button mat-menu-item routerLink="legacy/charTemplate/create">
        <mat-icon>add</mat-icon>Create
      </button>
    </mat-menu>
  </div>

  <div class="rightSet">
    <button mat-icon-button matTooltip="Settings" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>

    <button
      *ngIf="this.userService.username == null"
      mat-icon-button
      matTooltip="Account"
      [matMenuTriggerFor]="accountMenu"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-button
      *ngIf="this.userService.username != null"
      matTooltip="Account"
      [matMenuTriggerFor]="accountMenu"
    >
      <mat-icon>person</mat-icon>{{ this.userService.username }}
    </button>

    <mat-menu #accountMenu="matMenu">
      <button
        *ngIf="this.userService.username == null"
        mat-menu-item
        routerLink="/account"
      >
        <mat-icon>login</mat-icon>Login/Register
      </button>
      <button
        *ngIf="this.userService.username != null"
        mat-menu-item
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>Log out
      </button>
      <button
        *ngIf="this.userService.username != null"
        mat-menu-item
        (click)="changeDiscordUserId()"
      >
        <mat-icon>manage_accounts</mat-icon>Change Discord User Id
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
